modules = ["svelte-kit-node-20:v1-20230724-46059dd"]
run = "npm run dev"

[nix]
channel = "stable-23_11"

[deployment]
deploymentTarget = "static"
publicDir = "build"
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true
